<div>
<footer>
  <div class="max-w-8xl mx-auto px-5">
    <div class="flex justify-center gap-4 py-5">
      <a href=""class="text-black"><img src="https://img.icons8.com/ios-filled/2x/facebook-new.png" class="w-10" alt=""></a>
      <a href=""class="text-black"><img src="https://img.icons8.com/ios-filled/2x/facebook-new.png" class="w-10" alt=""></a>
      <a href=""class="text-black"><img src="https://img.icons8.com/ios-filled/2x/facebook-new.png" class="w-10" alt=""></a>
      <a href=""class="text-black"><img src="https://img.icons8.com/ios-filled/2x/facebook-new.png" class="w-10" alt=""></a>
    </div>
    <p class="text-center py-5">Copyright ©2020 By Nguyen Minh Tu </p>
  </div>
</footer>
</div>
