<div>
  <div class="max-w-8xl mx-auto px-5 md:px-60">
    <div class="border-b py-8 md:px-60" >
      <div class="md:max-w-3xl">
        <h3 class="text-left"><a href="" class="text-[#21243D] text-[20px] font-bold">{{getWork.name}}</a></h3>
        <div class="flex space-x-4 items-center py-7 mx-auto">
          <span class="inline-block bg-[#FF7C7C] py-1 px-2 font-bold text-white rounded-full">{{getWork.date}}</span>
          <span class="text-[#8695A4]">{{getWork.framworks}}</span>
        </div>
      </div>
      <div>
        <img src={{getWork.image}} alt="" class="rounded-lg w-full py-7 md:max-w-3xl"/>
        <p class="text-[#21243D]">{{getWork.description}}</p>
      </div>
    </div>
  </div>
</div>
